$primary-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;

$text-color: #303133;
$text-color-secondary: #606266;
$text-color-placeholder: #909399;
$border-color: #DCDFE6;
$bg-color: #F5F7FA;
